Hi ${handle} :wave:,

Please set up a time with @allthedoll and myself (@selkins13) for us to gain a little more background about your team and how you currently work using the link below:
https://calendly.com/github-training/workflow-consultation

Once we have a better understanding, we can then develop a workflow that works for your team and share that with you. We can also assess any training needs that you team may need.